$borders: 1px solid #eee;
$spacing: 2rem;

form {
  max-width: 500px;
  margin: $spacing auto;
  font-family: sans-serif;

  hr {
    margin-bottom: $spacing;
  }

  & > div {
    background: #fafafa;
    border: $borders;
    padding: $spacing;
    margin-bottom: $spacing;
  }

  fieldset {
    border: $borders;
  }

  button {
    display: block;
    width: 10rem;
    margin: 0 auto;
    padding: 1rem;
    font-weight: bold;
  }
}

.error {
  border-color: red;
}

.error-message {
  color: red;
  font-style: italic;
}
